.navBtn {
  font-size: 3rem;
  color: #232323b4;
  transition: all 0.2s ease;
  &:hover {
    color: #353535;
  }
}
.container-fluid {
  height: 100%;
  min-height: 100vh;
}

.saveBtn {
  font-size: 4rem;
  color: #3fb167;
  &:hover {
    color: #39c56a;
    cursor: pointer;
  }
}
.dischargeBtn {
  font-size: 4rem;
  color: #eea81de3;
  &:hover {
    color: #f8c35a;
    cursor: pointer;
  }
}
.deleteVisitBtn {
  font-size: 4rem;
  color: #e02c47d2;
  &:hover {
    color: #de5469d2;
    cursor: pointer;
  }
}

.dischargeText {
  color: #4235457a;
}

.header {
  font-size: 3.3rem;
  color: #423545;
}

h3 {
  color: #4235457a;
  font-size: 1.5rem;
}

.when {
  color: #423545ce;
}

a {
  color: #423545;
  font-size: 1rem;
}

.content {
  border-bottom: 1px rgba(204, 204, 204, 0.521) solid;
}

.collapseBtn {
  border: none;
  text-decoration: wavy;
}

.critical {
  color: #e02c47d2;
  font-weight: bold;
  border-color: #de5469d2;
}
.active {
  color: #eea81de3;
  font-weight: bold;
  border-color: #f8c35a;
}
.discharged {
  color: #3fb167;
  font-weight: bold;
  border-color: #8bbe9d;
}

@media screen and (max-width: 1140px) {
  .btnTitles {
    display: none;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
input.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}
textarea.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
textarea.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}

.loader {
  color: #b392ac;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
