<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-lg-2 col-sm-1">
      <app-navigation-bar></app-navigation-bar>
    </div>

    <div class="col-md-1 navDiv">
      <div class="row flex-column">
        <div class="col-12">
          <a class="btn navBtn" (click)="changeFormStateBackward()"
            ><i class="fas fa-arrow-circle-left"></i
          ></a>
        </div>
        <div class="col-12 ml-3 progressBar">
          <p>
            <ngb-progressbar
              [showValue]="true"
              type="success"
              [striped]="true"
              [animated]="true"
              height="2rem"
              [value]="progressValue"
              [max]="100"
            ></ngb-progressbar>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-lg-9 col-sm-11">
      <form
        [formGroup]="newPatientForm"
        (ngSubmit)="onSubmit(newPatientForm.value)"
      >
        <app-general-form
          (changedState)="changeFormStateForward($event)"
          [parentFormGroup]="newPatientForm"
          *ngIf="state === 'general'; else medical"
        ></app-general-form>
        <ng-template #medical>
          <app-medical-form
            (changedState)="changeFormStateForward($event)"
            [parentFormGroup]="newPatientForm"
            *ngIf="state === 'medical'; else plan"
          ></app-medical-form>
          <ng-template #plan>
            <app-plan-form
              [parentFormGroup]="newPatientForm"
              *ngIf="state === 'plan'"
            ></app-plan-form>
          </ng-template>
        </ng-template>
      </form>
    </div>
  </div>
</div>
