<ul class="nav flex-column overflow-auto">
  <div class="container">
    <div class="taskHeader sticky-top mt-2 container-fluid">
      <h3 class="ml-3 mt-3 mb-3"><i class="fas fa-tasks"></i> Task View</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <li *ngIf="tasks">
          <app-task-item
            (deleteTask)="deleteTask($event)"
            [tasks]="tasks"
          ></app-task-item>
        </li>

        <div class="loader" *ngIf="fetching">
          Loading...
        </div>

        <div class="mx-auto" *ngIf="!tasks.length && !fetching">
          <p>
            No tasks yet..
          </p>
        </div>
      </div>
    </div>
  </div>
</ul>
