.container-fluid {
  min-height: 100vh;
  height: 100%;
}
.form {
  padding-top: 1rem;
  line-height: 3rem;
  padding-left: 1rem;
}

.navBtn {
  font-size: 7em;
  color: #32a75ba9;
  transition: all 0.8s ease-in-out;
  &:hover {
    color: #32a75b;
    transform: translate(10px);
  }
}

.btn-danger {
  background-color: #de5469e1;
}

input.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
input.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}
textarea.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
textarea.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}
.invalid {
  font-size: 1rem;
  color: #de5469de;
}
@media screen and (max-width: 870px) {
  .navBtn {
    font-size: 5rem;
  }
}
