<div class="container-fluid">
  <div class="row">
    <div class="col-10 mt-4">
      <h2 class="display-4">1. General Information</h2>
      <div class="row" [formGroup]="parentFormGroup">
        <div class="col-10 form">
          <!--First name Input-->
          <div class="row mx-auto justify-content-start mt-3">
            <div class="col-md-6">
              <label for="fname">
                <span class="invalid mr-2">*</span>First Name
              </label>

              <input
                type="text"
                id="fname"
                class="form-control"
                required
                formControlName="fname"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('fname').valid &&
                  parentFormGroup.get('fname').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
            <!--Last name Input-->
            <div class="col-md-6">
              <label for="lname">
                <span class="invalid mr-2">*</span>Last Name
              </label>
              <input
                type="text"
                name="lname"
                id="lname"
                class="form-control"
                formControlName="lname"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('lname').valid &&
                  parentFormGroup.get('lname').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
          </div>
          <div class="row mx-auto">
            <!-- Age Input -->
            <div class="col-md-4">
              <label for="birthYear">
                <span class="invalid mr-2">*</span>Birth Year
              </label>
              <input
                type="number"
                name="birthYear"
                id="birthYear"
                oninput="this.value = Math.abs(this.value)"
                formControlName="birthYear"
                class="form-control"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('birthYear').valid &&
                  parentFormGroup.get('birthYear').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
            <!-- Phone Number Input -->
            <div class="col-md-4">
              <label for="phone">
                <span class="invalid mr-2">*</span>Phone Number
              </label>
              <input
                type="tel"
                name="phone"
                id="phone"
                class="form-control"
                formControlName="phone"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('phone').valid &&
                  parentFormGroup.get('phone').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
            <!--ID INPUT-->
            <div class="col-md-4">
              <label for="id">
                ID
              </label>
              <input
                type="number"
                name="govId"
                id="govId"
                class="form-control"
                formControlName="govId"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('govId').valid &&
                  parentFormGroup.get('govId').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
          </div>
          <div class="row mx-auto">
            <!-- Email Input -->
            <div class="col-md-12">
              <label for="email">
                <span class="invalid mr-2">*</span>E-Mail
              </label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                formControlName="email"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('email').valid &&
                  parentFormGroup.get('email').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
          </div>
          <div class="row mx-auto">
            <!-- Address Input -->
            <div class="col-md-12">
              <label for="address">
                <span class="invalid mr-2">*</span>Address
              </label>
              <textarea
                name="address"
                id="address"
                class="form-control"
                formControlName="address"
              ></textarea>
              <span
                *ngIf="
                  !parentFormGroup.get('address').valid &&
                  parentFormGroup.get('address').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
          </div>
          <div class="row mx-auto" formGroupName="visit">
            <!--Time of Admission Input-->
            <div class="col-md-6">
              <label for="date">
                <span class="invalid mr-2">*</span>Time of admission
              </label>
              <input
                type="datetime-local"
                name="date"
                id="date"
                class="form-control"
                formControlName="time"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('visit.time').valid &&
                  parentFormGroup.get('visit.time').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
            <!--Way of Admission Input-->
            <div class="col-md-6">
              <label for="way">
                <span class="invalid mr-2">*</span>Way of admittance
              </label>
              <input
                type="text"
                name="way"
                id="way"
                class="form-control"
                formControlName="how"
              />
              <div
                *ngIf="
                  !parentFormGroup.get('visit.how').valid &&
                  parentFormGroup.get('visit.how').touched
                "
                class="invalid"
              >
                This field is required.
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-1 ml-5 mt-5 text-center"
          *ngIf="
            parentFormGroup.get('fname').valid &&
            parentFormGroup.get('lname').valid &&
            parentFormGroup.get('phone').valid &&
            parentFormGroup.get('birthYear').valid &&
            parentFormGroup.get('govId').valid &&
            parentFormGroup.get('email').valid &&
            parentFormGroup.get('address').valid &&
            parentFormGroup.get('visit.time').valid &&
            parentFormGroup.get('visit.how').valid
          "
        >
          <a class="btn navBtn mt-5" (click)="moveForward()"
            ><i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
