<div class="container-fluid">
  <div class="row">
    <div class="col-10 mt-4">
      <h2 class="display-4">1. General Information</h2>
      <div class="row" [formGroup]="parentFormGroup">
        <div class="col-12 form">
          <!--First name Input-->
          <div class="row mx-auto justify-content-start mt-3">
            <div class="col-md-6">
              <label for="fname">
                <span class="invalid mr-2">*</span>First Name
              </label>

              <input
                type="text"
                id="fname"
                class="form-control"
                required
                formControlName="fname"
                minlength="2"
                required
              />
              <span
                *ngIf="
                  parentFormGroup.get('fname').errors?.required &&
                  parentFormGroup.get('fname').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('fname').errors?.minlength &&
                  parentFormGroup.get('fname').touched
                "
                class="invalid"
              >
                Must be at least 2 characters long.
              </span>
            </div>
            <!--Last name Input-->
            <div class="col-md-6">
              <label for="lname">
                <span class="invalid mr-2">*</span>Last Name
              </label>
              <input
                type="text"
                name="lname"
                id="lname"
                class="form-control"
                formControlName="lname"
                required
                minlength="2"
              />
              <span
                *ngIf="
                  parentFormGroup.get('lname').errors?.required &&
                  parentFormGroup.get('lname').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('lname').errors?.minlength &&
                  parentFormGroup.get('lname').touched
                "
                class="invalid"
              >
                Must be at least 2 characters long.
              </span>
            </div>
          </div>
          <div class="row mx-auto">
            <!-- Age Input -->
            <div class="col-md-4">
              <label for="birthYear">
                <span class="invalid mr-2">*</span>Birth Year
              </label>
              <input
                type="text"
                id="birthYear"
                oninput="this.value = Math.abs(this.value)"
                formControlName="birthYear"
                class="form-control"
                maxlength="4"
                minlength="4"
                required
              />
              <span
                *ngIf="
                  parentFormGroup.get('birthYear').errors?.required &&
                  parentFormGroup.get('birthYear').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('birthYear').errors?.minlength &&
                  parentFormGroup.get('birthYear').touched
                "
                class="invalid"
              >
                Must be 4 characters long.
              </span>
            </div>
            <!-- Phone Number Input -->
            <div class="col-md-4">
              <label for="phone">
                <span class="invalid mr-2">*</span>Phone Number
              </label>
              <input
                type="tel"
                id="phone"
                class="form-control"
                formControlName="phone"
                maxlength="10"
                required
              />
              <span
                *ngIf="
                  parentFormGroup.get('phone').errors?.required &&
                  parentFormGroup.get('phone').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('phone').errors?.minlength &&
                  parentFormGroup.get('phone').touched
                "
                class="invalid"
              >
                Must be 9 characters long.
              </span>
            </div>
            <!--ID INPUT-->
            <div class="col-md-4">
              <label for="id"> <span class="invalid mr-2">*</span>ID </label>
              <input
                type="text"
                id="govId"
                class="form-control"
                formControlName="govId"
                required
                minlength="9"
                maxlength="9"
              />
              <span
                *ngIf="
                  parentFormGroup.get('govId').errors?.required &&
                  parentFormGroup.get('govId').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('govId').errors?.minlength &&
                  parentFormGroup.get('govId').touched
                "
                class="invalid"
              >
                Must be 9 characters long.
              </span>
            </div>
          </div>
          <div class="row mx-auto">
            <!-- Email Input -->
            <div class="col-md-12">
              <label for="email">
                <span class="invalid mr-2">*</span>E-Mail
              </label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                formControlName="email"
                required
              />
              <span
                *ngIf="
                  parentFormGroup.get('email').errors?.required &&
                  parentFormGroup.get('email').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('email').errors?.email &&
                  parentFormGroup.get('email').touched
                "
                class="invalid"
              >
                Must be a valid E-Mail address.
              </span>
            </div>
          </div>
          <div class="row mx-auto">
            <!-- Address Input -->
            <div class="col-md-12">
              <label for="address">
                <span class="invalid mr-2">*</span>Address
              </label>
              <textarea
                name="address"
                id="address"
                class="form-control"
                formControlName="address"
                required
                minlength="2"
              ></textarea>
              <span
                *ngIf="
                  parentFormGroup.get('address').errors?.required &&
                  parentFormGroup.get('address').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('address').errors?.minlength &&
                  parentFormGroup.get('address').touched
                "
                class="invalid"
              >
                Must be at least 2 characters long.
              </span>
            </div>
          </div>
          <div class="row mx-auto" formGroupName="visit">
            <!--Time of Admission Input-->
            <div class="col-md-6">
              <label for="date">
                <span class="invalid mr-2">*</span>Time of admission
              </label>
              <input
                type="datetime-local"
                name="date"
                id="date"
                class="form-control"
                formControlName="time"
                required
              />
              <span
                *ngIf="
                  !parentFormGroup.get('visit.time').valid &&
                  parentFormGroup.get('visit.time').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
            <!--Way of Admission Input-->
            <div class="col-md-6 mb-3">
              <label for="way">
                <span class="invalid mr-2">*</span>Way of admittance
              </label>
              <input
                type="text"
                name="way"
                id="way"
                class="form-control"
                formControlName="how"
                required
                minlength="2"
              />
              <span
                *ngIf="
                  parentFormGroup.get('visit.how').errors?.required &&
                  parentFormGroup.get('visit.how').touched
                "
                class="invalid"
              >
                This field is required.
              </span>
              <span
                *ngIf="
                  parentFormGroup.get('visit.how').errors?.minlength &&
                  parentFormGroup.get('visit.how').touched
                "
                class="invalid"
              >
                Must be at least 2 characters long.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-1 mt-5 text-center"
      *ngIf="
        parentFormGroup.get('fname').valid &&
        parentFormGroup.get('lname').valid &&
        parentFormGroup.get('phone').valid &&
        parentFormGroup.get('birthYear').valid &&
        parentFormGroup.get('govId').valid &&
        parentFormGroup.get('email').valid &&
        parentFormGroup.get('address').valid &&
        parentFormGroup.get('visit.time').valid &&
        parentFormGroup.get('visit.how').valid
      "
    >
      <a class="btn navBtn mt-5" (click)="moveForward()"
        ><i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
</div>
