.noPatients {
  font-size: 2.3rem;
}
.fa-broom {
  color: #b392ac;
}
.add {
  height: 17vh;
  background-color: #d1e0d39f;
  &:hover {
    background-color: #e5f0e6;
    cursor: pointer;
  }
}
.fa-user-plus {
  color: #57a773;
  font-size: 3rem;
}
