.noPatients {
  font-size: 2.3rem;
}
.fa-broom {
  color: #b392ac;
}
.add {
  height: 17vh;
  background-color: #d1e0d39f;
  &:hover {
    background-color: #e5f0e6;
    cursor: pointer;
  }
}
.fa-user-plus {
  color: #57a773;
  font-size: 3rem;
}

.critical {
  background-color: #de5468;
}
.active {
  background-color: #f8c45a;
}
.discharged {
  background-color: #8bbe9d;
}

.colors {
  border: 2px #faf4f3 solid;
  background-color: rgb(85, 85, 85);
}
