<div class="container-fluid">
  <div class="row mt-3 ml-2">
    <div class="mb-4 mt-2 input-group col-12">
      <input
        type="search"
        placeholder="Search"
        class="form-control"
        [(ngModel)]="searchText"
      />
      <div ngbDropdown class="input-group-append">
        <button class="btn btn-secondary" id="sortDropdown" ngbDropdownToggle>
          Sort
        </button>
        <div ngbDropdownMenu aria-labelledby="sortDropdown">
          <button ngbDropdownItem (click)="sortParam = 'state'">State</button>
          <button ngbDropdownItem (click)="sortParam = 'fname'">Name</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="loader" *ngIf="fetching">
        Loading...
      </div>
      <div *ngIf="patients.length && !fetching; else noPatients">
        <app-patient-card
          [sortParam]="sortParam"
          [searchText]="searchText"
        ></app-patient-card>
      </div>
      <ng-template #noPatients>
        <div *ngIf="!patients.length && !fetching">
          <p class="noPatients display-4">
            <i class="fas fa-broom"></i> There are no active patients..
          </p>
          <div class="col-4 mb-4 mt-5">
            <div class="card add" routerLink="/main/add-new-patient">
              <div class="card-body">
                <i class="fas fa-user-plus ml-5 mt-3 mb-2"></i>
                <h5 class="ml-4">Add new patient</h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
