<div class="container-fluid">
  <div class="row flex-column mt-3 sticky-top">
    <!-- SEARCH BAR WITH SORT -->
    <div class="mt-2 mb-2 input-group col-12">
      <input
        type="search"
        placeholder="Search"
        class="form-control"
        [(ngModel)]="searchText"
      />
      <div ngbDropdown class="input-group-append">
        <button class="btn btn-dark" id="sortDropdown" ngbDropdownToggle>
          Sort
        </button>
        <div ngbDropdownMenu aria-labelledby="sortDropdown">
          <button ngbDropdownItem (click)="sortParam = 'state'">State</button>
          <button ngbDropdownItem (click)="sortParam = 'fname'">Name</button>
        </div>
      </div>
    </div>
    <!-- STATE MAP -->
    <div class="col-8 mx-auto">
      <div class="row text-center colors">
        <div class="col-sm-6 critical">Critical</div>
        <div class="col-sm-6 active">Active</div>
      </div>
    </div>
  </div>
  <!-- RENDER PATIENT CARDS -->
  <div class="row">
    <div class="col-12 mt-5">
      <div *ngIf="patients.length">
        <app-patient-card
          [activePatients]="activePatients"
          [sortParam]="sortParam"
          [searchText]="searchText"
        ></app-patient-card>
      </div>
    </div>
  </div>
</div>
