<div class="row">
  <div class="col-12">
    <h3 class="mb-4">Sign In</h3>
    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm)"
      novalidate
      autocomplete="off"
    >
      <!-- ID INPUT -->
      <div class="row mx-auto">
        <div class="col-md-12 mb-3">
          <input
            placeholder="ID"
            #idf="ngModel"
            type="tel"
            name="govId"
            required
            minlength="9"
            maxlength="9"
            pattern="^[0-9]*$"
            [(ngModel)]="user.govId"
            class="form-control"
            [ngClass]="{
              'is-invalid': idf.errors && idf.touched,
              'is-valid': !idf.errors && idf.touched
            }"
          />
          <div [hidden]="!idf.errors?.required" class="invalid-feedback">
            This field is required.
          </div>
          <div [hidden]="!idf.errors?.minlength" class="invalid-feedback">
            Must contain 9 numbers.
          </div>
          <div [hidden]="!idf.errors?.pattern" class="invalid-feedback">
            Must contain numbers only.
          </div>
        </div>
      </div>
      <!-- Password Input -->
      <div class="row mx-auto">
        <div class="col-md-12 mb-3">
          <input
            placeholder="Password"
            #passf="ngModel"
            type="password"
            name="password"
            required
            minlength="8"
            [(ngModel)]="user.password"
            class="form-control"
            [ngClass]="{
              'is-invalid': passf.errors && passf.touched,
              'is-valid': !passf.errors && passf.touched
            }"
          />
          <div [hidden]="!passf.errors?.required" class="invalid-feedback">
            This field is required.
          </div>
          <div [hidden]="!passf.errors?.minlength" class="invalid-feedback">
            Invalid password.
          </div>
        </div>
      </div>
      <input
        type="submit"
        name="submit"
        value="Submit"
        class="btn btn-dark ml-3 mb-3"
        [disabled]="loginForm.form.invalid"
      />
      <a routerLink="/register" class="btn btn-outline-dark ml-3 mb-3"
        >Not a user? Register</a
      >
    </form>
  </div>
</div>
