.container-fluid {
  height: 100vh;
}
.form {
  padding-top: 1rem;
  line-height: 2rem;
  padding-left: 1rem;
}

.btn-success {
  background-color: #57a773;
  &:hover {
    background-color: #32a75b;
  }
}

.submitBtn {
  font-size: 10em;
  color: #32a75ba9;
  transition: all 0.8s ease-in-out;
  &:hover {
    color: #32a75b;
  }
}

.btn-danger {
  background-color: #de5469e1;

  &:hover {
    background-color: #de5469;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
input.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}
textarea.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
textarea.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}

.invalid {
  font-size: 1rem;
  color: #de5469de;
}
@media screen and (max-width: 1140px) {
  .btnTitles {
    display: none;
  }
}
