<div class="container-fluid">
  <div class="row" [formGroup]="parentFormGroup">
    <div class="col-10 mt-4" formGroupName="visit">
      <h2 class="display-4">3. Treatment Plan</h2>
      <div class="row" formGroupName="medical">
        <div class="col-12 form" formGroupName="treatmentPlan">
          <!--Diagnosis Input-->
          <div class="row mx-auto mt-3">
            <div class="col-md-10">
              <label for="diag">
                <span class="invalid mr-2">*</span>Diagnosis
              </label>
              <input
                type="text"
                formControlName="diagnosis"
                id="diag"
                class="form-control"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('visit.medical.treatmentPlan.diagnosis')
                    .valid &&
                  parentFormGroup.get('visit.medical.treatmentPlan.diagnosis')
                    .touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
          </div>

          <!--Treatment Medication Input-->
          <div class="row mx-auto mt-3">
            <div class="col-11" formArrayName="medication">
              <div class="row flex-column mx-auto">
                <label for="meds">
                  Medication
                </label>
                <div
                  class="input-group"
                  *ngFor="let med of medication.controls; index as i"
                >
                  <input
                    type="text"
                    [formControlName]="i"
                    placeholder="If no medication required leave blank"
                    id="meds"
                    class="form-control mb-2"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-danger mb-2"
                      (click)="deleteMedication(i)"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-success col-3"
                  (click)="addMedication()"
                >
                  <i class="fas fa-plus"></i>
                  <b class="btnTitles"> Medication</b>
                </button>
              </div>
            </div>
          </div>

          <!--Procedures Input-->
          <div formGroupName="tasks">
            <div class="row mx-auto mt-3">
              <div class="col-11" formArrayName="procedures">
                <div class="row flex-column mx-auto">
                  <label for="procedures">
                    Procedures
                  </label>
                  <div
                    *ngFor="let procedure of procedures.controls; index as i"
                  >
                    <div class="input-group" [formGroupName]="i">
                      <input
                        type="text"
                        formControlName="title"
                        placeholder="If no procedures required leave blank"
                        id="procedures"
                        class="form-control mb-2"
                      />
                      <div class="input-group-append">
                        <button
                          type="button"
                          class="btn btn-danger mb-2"
                          (click)="deleteProcedure(i)"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <button
                    type="button"
                    class="btn btn-success col-3"
                    (click)="addProcedure()"
                  >
                    <i class="fas fa-plus"></i>
                    <b class="btnTitles"> Procedure</b>
                  </button>
                </div>
              </div>
            </div>

            <!--Tests Input-->
            <div class="row mx-auto mt-3">
              <div class="col-11" formArrayName="tests">
                <div class="row flex-column mx-auto">
                  <label for="tests">
                    Tests
                  </label>
                  <div *ngFor="let test of tests.controls; index as i">
                    <div class="input-group" [formGroupName]="i">
                      <input
                        type="text"
                        formControlName="title"
                        placeholder="If no tests required leave blank"
                        id="tests"
                        class="form-control mb-2"
                      />
                      <div class="input-group-append">
                        <button
                          type="button"
                          class="btn btn-danger mb-2"
                          (click)="deleteTest(i)"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-success col-3"
                    (click)="addTest()"
                  >
                    <i class="fas fa-plus"></i>
                    <b class="btnTitles"> Test</b>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!--Notes Input-->
          <div class="row mx-auto mt-3">
            <div class="col-md-10">
              <label for="notes">
                Additional Notes
              </label>
              <textarea
                type="text"
                formControlName="notes"
                id="notes"
                class="form-control"
              ></textarea>
            </div>
          </div>

          <!-- Submit Button -->
        </div>
      </div>
    </div>
    <div class="col-1 mt-5" *ngIf="parentFormGroup.valid">
      <button class="btn submitBtn mt-5" title="Save New Patient">
        <i class="fas fa-check-circle"></i>
      </button>
    </div>
  </div>
</div>
