<div class="container-fluid">
  <div class="row" [formGroup]="parentFormGroup">
    <div class="col-10 mt-4" formGroupName="visit">
      <h2 class="display-4">3. Treatment Plan</h2>
      <div class="row" formGroupName="medical">
        <div class="col-12 form" formGroupName="treatmentPlan">
          <!--Diagnosis Input-->
          <div class="row mx-auto mt-3">
            <div class="col-md-10">
              <label for="diag">
                <span class="invalid mr-2">*</span>Diagnosis
              </label>
              <input
                type="text"
                formControlName="diagnosis"
                id="diag"
                class="form-control"
              />
              <span
                *ngIf="
                  !parentFormGroup.get('visit.medical.treatmentPlan.diagnosis')
                    .valid &&
                  parentFormGroup.get('visit.medical.treatmentPlan.diagnosis')
                    .touched
                "
                class="invalid"
              >
                This field is required.
              </span>
            </div>
          </div>
          <!--Treatment Medication Input-->
          <div class="row mx-auto mt-3">
            <div class="col-md-10">
              <label for="meds">
                Medication
              </label>
              <input
                type="text"
                formControlName="medication"
                placeholder="If no medication required leave blank"
                id="meds"
                class="form-control"
              />
            </div>
          </div>
          <!--Procedures Input-->
          <div formGroupName="tasks">
            <div class="row mx-auto mt-3">
              <div class="col-md-10">
                <label for="procedure">
                  Procedures
                </label>
                <input
                  type="text"
                  formControlName="procedures"
                  placeholder="If no procedure needed leave blank"
                  id="procedure"
                  class="form-control"
                />
              </div>
            </div>
            <!--Tests Input-->
            <div class="row mx-auto mt-3">
              <div class="col-md-10">
                <label for="tests">
                  Tests
                </label>
                <input
                  type="text"
                  formControlName="tests"
                  placeholder="If no tests needed leave blank"
                  id="tests"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <!--Tests Input-->
          <div class="row mx-auto mt-3">
            <div class="col-md-10">
              <label for="notes">
                Additional Notes
              </label>
              <textarea
                type="text"
                formControlName="notes"
                id="notes"
                class="form-control"
              ></textarea>
            </div>
          </div>

          <!-- Submit Button -->
        </div>
      </div>
    </div>
    <div class="col-1 mt-5" *ngIf="parentFormGroup.valid">
      <button class="btn submitBtn mt-5">
        <i class="fas fa-check-circle"></i>
      </button>
    </div>
  </div>
</div>
