.navBtn {
  font-size: 7em;
  color: #32a75ba9;
  transition: all 0.8s ease-in-out;
  &:hover {
    color: #32a75b;
    transform: translate(15px);
  }
}
.vitals {
  padding: 14px;
  color: #4d3340;
  background-color: #fcece9de;
  border-radius: 22px;
  border-bottom: #fde0db 1px solid;

  &:hover {
    background-color: #ffe9e6;
    cursor: pointer;
  }
}

.form {
  padding-top: 1rem;
  line-height: 2rem;
  padding-left: 1rem;
}

.btn-danger {
  background-color: #de5469e1;

  &:hover {
    background-color: #de5469;
  }
}
.stateCritical {
  background-color: #de5469e1;
}
.stateActive {
  background-color: #f8c45a;
}

input.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
input.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}
textarea.ng-invalid.ng-touched {
  border: 1px solid #de5469b2;
}
textarea.ng-valid.ng-touched {
  border: 1px solid #32a75b79;
}
.invalid {
  font-size: 1rem;
  color: #de5469de;
}
