<div class="container-fluid">
  <div class="row">
    <div class="col-10 mt-4">
      <h2 class="display-4">2. Medical Observation</h2>
      <div class="row" [formGroup]="parentFormGroup">
        <div class="col-12 form" formGroupName="visit">
          <div formGroupName="medical">
            <div class="row mx-auto">
              <!--Reason of visit Input-->
              <div class="col-lg-4 col-11 form-group">
                <label for="reason">
                  <span class="invalid mr-2">*</span>Reason for visit?
                </label>
                <input
                  type="text"
                  name="reason"
                  id="reason"
                  class="form-control"
                  formControlName="reasonOfVisit"
                  required
                />
                <span
                  *ngIf="
                    !parentFormGroup.get('visit.medical.reasonOfVisit').valid &&
                    parentFormGroup.get('visit.medical.reasonOfVisit').touched
                  "
                  class="invalid"
                >
                  This field is required.
                </span>
              </div>

              <!--Allergies Input-->
              <div class="col-lg-3 col-11 form-group">
                <label> <span class="invalid mr-2">*</span>Allergies? </label>
                <input
                  type="text"
                  name="allergies"
                  class="form-control"
                  formControlName="allergies"
                  required
                  maxlength="255"
                />
                <span
                  *ngIf="
                    !parentFormGroup.get('visit.medical.allergies').valid &&
                    parentFormGroup.get('visit.medical.allergies').touched
                  "
                  class="invalid"
                >
                  This field is required.
                </span>
              </div>
              <!-- State -->
              <div class="col-md-5 col-11 form-group">
                <label><span class="invalid mr-2">*</span>State?</label>
                <div class="form-control text-center state">
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      id="activeState"
                      value="active"
                      formControlName="state"
                    />
                    Active
                  </label>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      id="criticalState"
                      value="critical"
                      class="ml-3"
                      formControlName="state"
                    />
                    Critical</label
                  >
                </div>
              </div>
            </div>
            <!-- Habits -->
            <div class="row mx-auto" formGroupName="habits">
              <!-- Smoking -->
              <div class="col-lg-4 col-4 form-group">
                <label>Smoking?</label>
                <div class="form-control">
                  <span class="invalid mr-1">*</span>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      value="true"
                      formControlName="smoking"
                    />
                    Yes
                  </label>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      value="false"
                      formControlName="smoking"
                      class="ml-1"
                    />
                    No</label
                  >
                </div>
              </div>
              <!-- DRINKING -->
              <div class="col-lg-4 col-4 form-group">
                <label>Drinking?</label>
                <div class="form-control">
                  <span class="invalid mr-1">*</span>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      formControlName="drinking"
                      value="true"
                    />
                    Yes
                  </label>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      formControlName="drinking"
                      value="false"
                      class="ml-1"
                    />
                    No</label
                  >
                </div>
              </div>
              <!-- Drugs -->
              <div class="col-lg-4 col-4 form-group">
                <label>Drugs?</label>
                <div class="form-control">
                  <span class="invalid mr-1">*</span>
                  <label class="raido-inline"
                    ><input type="radio" formControlName="drugs" value="true" />
                    Yes
                  </label>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      formControlName="drugs"
                      value="false"
                      class="ml-1"
                    />
                    No</label
                  >
                </div>
              </div>
              <!-- Drugs description -->
              <div
                class="col-md-12 form-group"
                *ngIf="
                  parentFormGroup.get('visit.medical.habits.drugs').value ===
                  'true'
                "
              >
                <label>
                  Drug Description
                </label>
                <input
                  type="text"
                  formControlName="drugsDescription"
                  class="form-control"
                />
              </div>
            </div>
            <!-- Case Story -->
            <div class="row mx-auto">
              <div class="col-md-12 form-group">
                <label><span class="invalid mr-2">*</span>Case Story</label>
                <textarea
                  formControlName="caseStory"
                  placeholder="How it happend?"
                  class="form-control"
                  maxlength="255"
                  required
                ></textarea>
                <span
                  *ngIf="
                    parentFormGroup.get('visit.medical.caseStory').errors
                      ?.required &&
                    parentFormGroup.get('visit.medical.caseStory').touched
                  "
                  class="invalid"
                >
                  This field is required.
                </span>
                <span
                  *ngIf="
                    parentFormGroup.get('visit.medical.caseStory').errors
                      ?.minlength &&
                    parentFormGroup.get('visit.medical.caseStory').touched
                  "
                  class="invalid"
                >
                  Must be at least 20 characters long.
                </span>
              </div>
            </div>
            <!-- Symptoms -->
            <div class="row mx-auto">
              <div class="col-md-12 form-group">
                <label><span class="invalid mr-2">*</span>Symptoms?</label>
                <textarea
                  formControlName="symptoms"
                  placeholder="What symptoms does the patient exhibit?"
                  class="form-control"
                  maxlength="255"
                  required
                ></textarea>
                <span
                  *ngIf="
                    parentFormGroup.get('visit.medical.symptoms').errors
                      ?.required &&
                    parentFormGroup.get('visit.medical.symptoms').touched
                  "
                  class="invalid"
                >
                  This field is required.
                </span>
                <span
                  *ngIf="
                    parentFormGroup.get('visit.medical.symptoms').errors
                      ?.minlength &&
                    parentFormGroup.get('visit.medical.symptoms').touched
                  "
                  class="invalid"
                >
                  Must be at least 5 characters long.
                </span>
              </div>
            </div>
            <!-- Has this happened before? -->
            <div class="row mx-auto" formGroupName="hasHappenedBefore">
              <div class="col-md-4 col-lg-3 form-group">
                <label>Has this happend before?</label>
                <div class="form-control">
                  <span class="invalid mr-2">*</span>
                  <label class="raido-inline"
                    ><input type="radio" formControlName="hasIt" value="true" />
                    Yes
                  </label>

                  <label class="raido-inline"
                    ><input
                      type="radio"
                      formControlName="hasIt"
                      value="false"
                      class="ml-1"
                    />
                    No</label
                  >
                </div>
              </div>
              <!-- Before description -->
              <div
                class="col-md-6 form-group"
                *ngIf="
                  parentFormGroup.get('visit.medical.hasHappenedBefore.hasIt')
                    .value === 'true'
                "
              >
                <label>
                  Description
                </label>
                <textarea
                  type="text"
                  formControlName="description"
                  placeholder="How bad was it and what was the treatment?"
                  class="form-control"
                ></textarea>
              </div>
            </div>

            <!-- Family History -->
            <div class="row mx-auto" formGroupName="history">
              <div class="col-md-4 col-lg-3 form-group">
                <label>Family history of disease?</label>
                <div class="form-control">
                  <span class="invalid mr-2">*</span>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      formControlName="isThere"
                      value="true"
                    />
                    Yes
                  </label>
                  <label class="raido-inline"
                    ><input
                      type="radio"
                      formControlName="isThere"
                      value="false"
                      class="ml-1"
                    />
                    No</label
                  >
                </div>
              </div>
              <!-- Family history description -->
              <div
                class="col-md-6 form-group"
                *ngIf="
                  parentFormGroup.get('visit.medical.history.isThere').value ===
                  'true'
                "
              >
                <label>
                  Description
                </label>
                <textarea
                  type="text"
                  formControlName="description"
                  placeholder="Who was it and what disease?"
                  class="form-control"
                ></textarea>
              </div>
            </div>
            <!-- Vitals -->
            <div class="container mt-3" (click)="isCollapsed = !isCollapsed">
              <div class="row mx-auto text-center vitals mb-4">
                <h3><i class="fas fa-heartbeat"></i> Click to Input Vitals</h3>
                <h3 class="ml-auto">
                  <i
                    class="fas fa-arrow-down"
                    *ngIf="isCollapsed; else collapsed"
                  ></i>
                </h3>
                <ng-template #collapsed>
                  <h3 class="ml-auto"><i class="fas fa-arrow-up"></i></h3>
                </ng-template>
              </div>
            </div>
            <div [ngbCollapse]="isCollapsed">
              <div class="card mb-4" formGroupName="vitals">
                <div class="card-body row">
                  <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                    <label for="pulse">
                      <span class="invalid mr-2">*</span>Pulse/min
                    </label>
                    <input
                      type="text"
                      formControlName="pulse"
                      min="0"
                      placeholder="60"
                      id="pulse"
                      class="form-control"
                      required
                      max="200"
                    />
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.pulse').errors
                          ?.required &&
                        parentFormGroup.get('visit.medical.vitals.pulse')
                          .touched
                      "
                      class="invalid"
                    >
                      Required.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.pulse').errors
                          ?.max &&
                        parentFormGroup.get('visit.medical.vitals.pulse')
                          .touched
                      "
                      class="invalid"
                    >
                      Too High.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.pulse').errors
                          ?.pattern &&
                        parentFormGroup.get('visit.medical.vitals.pulse')
                          .touched
                      "
                      class="invalid"
                    >
                      Invalid Input.
                    </span>
                  </div>
                  <!-- Blood Pressure Input -->
                  <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                    <label for="bp">
                      <span class="invalid">*</span>Blood Pressure
                    </label>
                    <input
                      type="text"
                      formControlName="bp"
                      id="bp"
                      placeholder="120/70"
                      class="form-control"
                      required
                      maxlength="7"
                    />
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.bp').errors
                          ?.required &&
                        parentFormGroup.get('visit.medical.vitals.bp').touched
                      "
                      class="invalid"
                    >
                      Required.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.bp').errors
                          ?.pattern &&
                        parentFormGroup.get('visit.medical.vitals.bp').touched
                      "
                      class="invalid"
                    >
                      Invalid Input.
                    </span>
                  </div>
                  <!-- Temperature Input -->
                  <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                    <label for="temp">
                      <span class="invalid mr-1">*</span>Temperature(°)
                    </label>
                    <input
                      type="text"
                      formControlName="temp"
                      min="0"
                      placeholder="36.5"
                      id="temp"
                      class="form-control"
                      required
                    />
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.temp').errors
                          ?.required &&
                        parentFormGroup.get('visit.medical.vitals.temp').touched
                      "
                      class="invalid"
                    >
                      Required.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.temp').errors
                          ?.pattern &&
                        parentFormGroup.get('visit.medical.vitals.temp').touched
                      "
                      class="invalid"
                    >
                      Invalid Input.
                    </span>
                  </div>
                  <!-- Weight Input -->
                  <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                    <label for="weight">
                      <span class="invalid mr-1">*</span>Weight(kg)
                    </label>
                    <input
                      type="text"
                      formControlName="weight"
                      min="0"
                      placeholder="80"
                      id="weight"
                      class="form-control"
                      required
                    />
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.weight')
                          .errors?.required &&
                        parentFormGroup.get('visit.medical.vitals.weight')
                          .touched
                      "
                      class="invalid"
                    >
                      Required.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.weight')
                          .errors?.max &&
                        parentFormGroup.get('visit.medical.vitals.weight')
                          .touched
                      "
                      class="invalid"
                    >
                      Too High.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.weight')
                          .errors?.pattern &&
                        parentFormGroup.get('visit.medical.vitals.weight')
                          .touched
                      "
                      class="invalid"
                    >
                      Invalid Input.
                    </span>
                  </div>
                  <!-- Blood Sugar Input -->
                  <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                    <label for="bsugar">
                      <span class="invalid mr-1">*</span>Blood Sugar
                    </label>
                    <input
                      type="text"
                      formControlName="bloodSugar"
                      min="0"
                      placeholder="80"
                      id="bsugar"
                      class="form-control"
                      required
                    />
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.bloodSugar')
                          .errors?.required &&
                        parentFormGroup.get('visit.medical.vitals.bloodSugar')
                          .touched
                      "
                      class="invalid"
                    >
                      Required.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.bloodSugar')
                          .errors?.max &&
                        parentFormGroup.get('visit.medical.vitals.bloodSugar')
                          .touched
                      "
                      class="invalid"
                    >
                      Too High.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.bloodSugar')
                          .errors?.pattern &&
                        parentFormGroup.get('visit.medical.vitals.bloodSugar')
                          .touched
                      "
                      class="invalid"
                    >
                      Invalid Input.
                    </span>
                  </div>
                  <!-- Resp Rate Input -->
                  <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                    <label for="resp">
                      <span class="invalid mr-1">*</span>Respiration
                    </label>
                    <input
                      type="text"
                      formControlName="respRate"
                      placeholder="18"
                      min="2"
                      id="resp"
                      class="form-control"
                      required
                    />
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.respRate')
                          .errors?.required &&
                        parentFormGroup.get('visit.medical.vitals.respRate')
                          .touched
                      "
                      class="invalid"
                    >
                      Required.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.respRate')
                          .errors?.max &&
                        parentFormGroup.get('visit.medical.vitals.respRate')
                          .touched
                      "
                      class="invalid"
                    >
                      Too High.
                    </span>
                    <span
                      *ngIf="
                        parentFormGroup.get('visit.medical.vitals.respRate')
                          .errors?.pattern &&
                        parentFormGroup.get('visit.medical.vitals.respRate')
                          .touched
                      "
                      class="invalid"
                    >
                      Invalid Input.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-1 mt-5 text-center"
      *ngIf="
        parentFormGroup.get('visit.medical.reasonOfVisit').valid &&
        parentFormGroup.get('visit.medical.allergies').valid &&
        parentFormGroup.get('visit.medical.state').valid &&
        parentFormGroup.get('visit.medical.habits.smoking').valid &&
        parentFormGroup.get('visit.medical.habits.drinking').valid &&
        parentFormGroup.get('visit.medical.habits.drugs').valid &&
        parentFormGroup.get('visit.medical.caseStory').valid &&
        parentFormGroup.get('visit.medical.symptoms').valid &&
        parentFormGroup.get('visit.medical.hasHappenedBefore.hasIt').valid &&
        parentFormGroup.get('visit.medical.history.isThere').valid &&
        parentFormGroup.get('visit.medical.vitals.pulse').valid &&
        parentFormGroup.get('visit.medical.vitals.bp').valid &&
        parentFormGroup.get('visit.medical.vitals.temp').valid &&
        parentFormGroup.get('visit.medical.vitals.weight').valid &&
        parentFormGroup.get('visit.medical.vitals.bloodSugar').valid &&
        parentFormGroup.get('visit.medical.vitals.respRate').valid
      "
    >
      <a class="btn navBtn mt-5" (click)="moveForward()"
        ><i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
</div>
