<div class="loader mx-auto" *ngIf="fetching"></div>
<div *ngIf="!patients.length && !fetching">
  <p class="noPatients display-4 ml-3">
    There are no active patients..
  </p>
</div>
<!-- HERE BE PATIENT CARDS -->
<div class="row" *ngIf="patients.length">
  <div
    class="col-xl-4 col-lg-6 mb-3"
    *ngFor="
      let patient of patients
        | filterPatients: searchText
        | sortPatients: sortParam
    "
  >
    <div class="card patients" [ngClass]="setPatientClass(patient)">
      <div class="card-body">
        <!-- LINKS TO EDIT/VIEW VISIT -->
        <div class="edit row flex-column float-right">
          <i
            class="fas fa-user-edit"
            title="Change State"
            (click)="changeState(patient)"
          ></i>
          <i
            class="fas fa-notes-medical mt-2"
            title="View Visit"
            (click)="viewVisit(patient)"
          ></i>
        </div>
        <h4 class="card-title" title="View Visit" (click)="viewVisit(patient)">
          {{ patient.fname | titlecase }} {{ patient.lname | titlecase }}
        </h4>
        <i class="card-text">{{ patient.govId }}</i>
        <h6 class="card-text mt-1">
          <i>Diagnosis:</i>
          {{
            patient.visit[0].medical[0].treatmentPlan[0].diagnosis | titlecase
          }}
        </h6>

        <p class="card-text mb-0">
          Attending Nurse: {{ patient.visit[0].attendingNurse | titlecase }}
        </p>
      </div>
    </div>
  </div>
  <!-- ADD NEW PATIENT CARD -->
  <div class="col-xl-4 col-lg-6">
    <div class="card add" routerLink="/main/add-new-patient">
      <div class="card-body">
        <i class="fas fa-user-plus ml-5 mt-3 mb-2"></i>
        <h5 class="ml-4">Add new patient</h5>
      </div>
    </div>
  </div>
</div>
