.patients {
  display: block;

  background-color: #f0dbd87c;
  border: none;
  &:hover {
    background-color: #fcece9b7;
    cursor: pointer;
  }
}
.colors {
  display: block;

  background-color: rgb(253, 245, 245);
}
.add {
  display: block;

  background-color: #d1e0d39f;
  &:hover {
    background-color: #e5f0e6;
    cursor: pointer;
  }
}
.fa-user-plus {
  color: #57a773;
  font-size: 3rem;
}
.critical {
  background-color: #de5468;
}
.active {
  background-color: #f8c45a;
}
.discharged {
  background-color: #8bbe9d;
}

.patientCritical {
  background-color: #de5468;

  &:hover {
    background-color: #de5469e1;
  }
}
.patientActive {
  background-color: #f8c45a;

  &:hover {
    background-color: #f8c35ae5;
  }
}
.patientDischarged {
  background-color: #8bbe9d;

  &:hover {
    background-color: #8bbe9de5;
  }
}
