<div class="container-fluid item">
  <div class="row">
    <div class="col-md-6" (click)="isCollapsed = !isCollapsed">
      <h6>
        <i>{{ patient.govId }}</i> - {{ patient.fname | titlecase }}
      </h6>
    </div>
  </div>

  <div [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <button
          class="btn btn-outline-dark ml-3"
          *ngFor="let visit of visits; index as idx"
          (click)="viewVisit(visit, patient)"
        >
          {{ patient.visit[idx].time | date }}
        </button>
      </div>
    </div>
  </div>
</div>
