<div class="container-fluid item">
  <div class="row">
    <div class="col-md-6" (click)="isCollapsed = !isCollapsed">
      <h6>
        <i>{{ patient.patientId }}</i> - {{ patient.patientName }}
      </h6>
    </div>
  </div>

  <div [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <button
          class="btn btn-outline-secondary ml-3"
          *ngFor="let visit of patient.visits; index as idx"
          [routerLink]="visit.link"
        >
          {{ patient.visits[idx].date }}
        </button>
      </div>
    </div>
  </div>
</div>
