<div class="container-fluid mt-3">
  <div class="row">
    <h2 class="mt-2 ml-4">
      <i class="fas fa-book-medical"></i> Patient History
    </h2>
    <div class="col-12">
      <!-- SEARCH COMPONENT WHICH EMITS THE SEARCH TEXT -->
      <app-history-search
        (searchInput)="searchHistory($event)"
      ></app-history-search>
    </div>
    <div class="col-12">
      <ul class="nav flex-column pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-11">
              <!-- SHOW VISIT BUTTONS THAT YOU GET FROM SEARCH -->
              <li *ngIf="patients.length; else noPatients">
                <app-history-item
                  *ngFor="let patient of patients | filterPatients: searchText"
                  [patient]="patient"
                ></app-history-item>
              </li>
              <ng-template #noPatients>
                <div class="ml-3">
                  Try searching by First/Last name..
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
