<div class="container-fluid">
  <div class="row flex-column">
    <h2 class="mt-2 ml-4">
      <i class="fas fa-book-medical"></i> Patient History
    </h2>
    <div class="col-12">
      <app-history-search></app-history-search>
    </div>
    <div class="col-12">
      <ul class="nav flex-column pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <li><app-history-item></app-history-item></li>
              <li><app-history-item></app-history-item></li>
              <li><app-history-item></app-history-item></li>
              <li><app-history-item></app-history-item></li>
              <li><app-history-item></app-history-item></li>
              <li><app-history-item></app-history-item></li>
              <li><app-history-item></app-history-item></li>
              <li><app-history-item></app-history-item></li>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
