<div
  class="container-fluid task"
  [ngClass]="setClasses(t)"
  *ngFor="let t of tasks; index as i"
>
  <div class="row justify-content-between">
    <div class="col-10" (click)="collapse(t)">
      <h5>
        <i *ngIf="t.task.type === 'procedure'" class="fas fa-procedures"></i>
        <i *ngIf="t.task.type === 'test'" class="fas fa-vials"></i>
        <span class="title">
          {{ t.task.title | titlecase }}
        </span>
      </h5>
      <p>
        <span class="patient-info"
          >{{ t.fname | titlecase }} {{ t.lname | titlecase }}</span
        >
        <Br />
        <span class="nurse-info"
          >Attending Nurse: {{ t.attendingNurse | titlecase }}</span
        >
      </p>
    </div>
    <div class="col-2 mt-4" *ngIf="!t.task.isComplete">
      <i class="fas fa-check-circle" (click)="markComplete(t)"></i>
    </div>
    <div class="row flex-column col-2 mt-3 mr-1" *ngIf="t.task.isComplete">
      <i class="fas fa-times-circle mb-2" (click)="onDelete(t)"></i
      ><i class="fas fa-undo-alt" (click)="undo(t)"></i>
    </div>
  </div>

  <div [ngbCollapse]="t.isCollapsed">
    <div class="card">
      <div class="card-body">
        {{ t.notes }}
      </div>
    </div>
  </div>
</div>
