.fa-check-circle {
  font-size: 2.5rem;
  color: #0e951b;
}
.fa-times-circle {
  font-size: 1.8rem;
  color: #f0544f;
}
.fa-undo-alt {
  font-size: 1.8rem;
  color: #35a7ff;
}

.card {
  background-color: #fcefed1e;
}

.isComplete {
  background: #cef7d2 !important;
  margin-left: 0.5rem;
  &:hover {
    background: #daffdd !important;
  }
}

.card-body {
  color: #5e4b63;
  font-size: 0.9rem;
}

.task {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  background-color: #f0dbd87c;
  &:hover {
    background-color: #fcece9b7;
    cursor: pointer;
  }
}
.patient-info {
  color: #232323a9;
  font-size: 1.2rem;
}
.nurse-info {
  font-size: 0.8rem;
}
.title {
  color: #302333;
  font-weight: bold;
}
.fa-procedures {
  color: #3023337c;
}
.fa-vials {
  color: #3023337c;
}
