<ul class="nav flex-column pt-2">
  <a routerLink="/main" class="logoNav navbar-brand mx-auto">
    <h1 class="mb-3">ES <i class="fas fa-stethoscope"></i> TI</h1>
  </a>
  <div class="logged mx-auto mb-3" *ngIf="loggedInStaff">
    Active Nurse -
    <span class="loggedIn"> {{ loggedInStaff | titlecase }} </span>
  </div>
  <li *ngFor="let item of navItems" class="mt-2">
    <a routerLinkActive="active" [routerLink]="item.link" class="nav-link">
      <i class="{{ item.icon }}"></i>
      <span class="ml-3">{{ item.title | titlecase }}</span>
    </a>
  </li>
  <li class="mt-2">
    <a class="nav-link" (click)="onLogout()" routerLink>
      <i class="fas fa-sign-out-alt"></i>
      <span class="ml-3">Log Out</span>
    </a>
  </li>
  <div class="personal-links">
    <div class="row ml-1 mx-auto">
      <div class="col-12">
        <a href="https://github.com/Aslanchik/esti" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a
          class="ml-2"
          href="https://www.linkedin.com/in/aslan-badalov"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </div>
      <i class="checkout ml-2 mb-2">Check out the code!</i>
    </div>
  </div>
</ul>
