ul {
  height: 100vh;
  background-color: #232323;
}

.active {
  background-color: #353535;
}
.loggedIn {
  color: #ffcbd1;
  font-style: italic;
  font-weight: bold;
}
h1 {
  color: #f2f2f2;
}

i {
  color: #fdd8dd;
}

.nav-link {
  color: #f2f2f2;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  &:hover {
    font-size: 1.15rem;
  }
}

li:hover {
  background-color: #353535;
}

.logoNav {
  text-decoration: none;
}

.logged {
  color: #f2f2f2;
}

.personal-links {
  position: absolute;
  bottom: 0px;
  font-size: 2rem;
}
.fa-github {
  transition: all 0.2s ease;
  &:hover {
    color: #fce8eb;
    font-size: 2.05rem;
  }
}
.fa-linkedin {
  transition: all 0.2s ease;
  &:hover {
    color: #fce8eb;
    font-size: 2.05rem;
  }
}
